<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
	<title>Jieting Tang, Esq | Chinese Lawyer</title>
	
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
	
<body>
	<!-- START LOGO -->
	<div id="logo" class="group"> <center>
		<a href="http://tangjieting.com/" title="Jieting Tang, Esq.">
			<img src="/images/Black_logo.png" alt="Logo Jieting Tang, Esq." style="opacity: 1 ; width: 40%;">
		</a></center> 
	</div>
	<!-- END LOGO -->

	<!-- START NAV -->
	<div id="nav" class="group">	
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/About">Our Team</a></li>
		<li><a href="/Practice_Areas">Practice Area</a></li>
		<li><a href="/News_and_Events">News &amp; Events</a></li>
		<li><a href="/Experiece">Experience</a></li>
		<li><a href="/Contact">Contact</a></li>
	</ul> 
	</div> 
			 
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:tangjieting@hotmail.com">email</a></li>
	        		<li><a href="http://tangjieting.com/">http://tangjieting.com/</a></li>
			</ul>
			</footer>
		</body>
	</html>
