<!DOCTYPE html>
	<html>
		<head>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
      <title>Jieting Tang, Esq | Chinese Lawyer</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
			<HR>
	    		<ul>
	        		<li><a href="/">Home</a></li>
				<div style="border-left:thin solid #000000"></div>
		        	<li><a href="/About">About</a></li>
				<div style="border-left:thin solid #000000"></div>
	        		<li><a href="/Practice_Areas">Practice Area</a></li>
				<div style="border-left:thin solid #000000"></div>
	        		<li><a href="/News_and_Events">News &amp; Events</a></li>
				<div style="border-left:thin solid #000000"></div>
	        		<li><a href="/Experiece">Experience</a></li>
				<div style="border-left:thin solid #000000"></div>
	        		<li><a href="/Contact">Contact</a></li>
	    		</ul> 
			<HR>
			</nav> 
			 
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:tangjieting@hotmail.com">email</a></li>
	        		<li><a href="http://tangjieting.com/">http://tangjieting.com/</a></li>
			</ul>
			</footer>
		</body>
	</html>
